# Each dependency must by accompanied by a version number, stated as explicitly as possible
# Else expect your work to fall apart when a dependency out of our control is updated!
# Each dependency must by accompanied by a comment explaining why it is needed

# Hardware interfaces
pyserial==3.5        # ?
smbus2==0.4.3        # i2c sensors
spidev==3.6          # spi sensors
rpi.gpio             # Other I/O - but does this work in a docker container on Raspi OS?
bcr-libraries==0.0.4 # MCP3008 ADC HAT from BC Robotics

# Specific sensors
PyMLX90614==0.0.4                    # MLX90614 IR sensor
w1thermsensor==2.0.0                 # one-wire sensor DS18B20
adafruit-circuitpython-ahtx0==1.0.21 # AHT10 or AHT20 Humidity and Temperature Sensor

# Other
paho-mqtt==1.6.1 # publishing readings over MQTT
tomli==2.0.1     # parsing .toml config files
pyzmq==25.1.1    # ZeroMQ for passing data between python threads
chevron==0.14.0  # for rendering Mustache templating language in MQTT topics
