{% extends "base.jinja2" %}
{% block content %}
<h1>Dashboard</h1>
<div>There will be a dashboard here showing collected uptime and usage data. Also a graph highlighting detected errors by service module from log files.</div>
{% endblock %}