{% extends "base.jinja2" %}
{% block content %}
<h1>Report an Issue</h1>
<div>This will have a form for reporting issues to the shoestring team and/or the deployment support provider and include log files</div>
{% endblock %}