{% extends "base.jinja2" %}
{% block content %}
<h1>Transmitted Stats</h1>
<div>This page provides a control panel that can be used to configure the statistics data sent to the Shoestring platform and shows a complete log of all transmitted in the interest of full transparency</div>
{% endblock %}